@charset "UTF-8";
@font-face {
  font-family: "Cormorant";
  src: url("./../fonts/Cormorant-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Cormorant";
  src: url("./../fonts/Cormorant-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Cormorant";
  src: url("./../fonts/Cormorant-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Cormorant";
  src: url("./../fonts/Cormorant-SemiBold.ttf");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant";
  font-size: 18px;
  font-weight: 400;
}

*::before {
  align-self: start;
  font-size: 50px;
  margin-right: 23px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 376px) {
  .container {
    max-width: unset;
    padding: 0 0 0 37px;
  }
}

.main {
  width: 100%;
  height: 100%;
  background-color: #FBF6F6;
  padding-bottom: 116px;
}
.main__wrapper {
  padding: 0 140px 0 132px;
}
@media (max-width: 376px) {
  .main__wrapper {
    padding: 0;
  }
}
.main__header {
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}
@media (max-width: 376px) {
  .main__header {
    padding-top: 50px;
  }
}
.main__landing {
  display: flex;
  flex-wrap: wrap;
}
.main__subtitle {
  font-size: 40px;
}
.main__landing {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 376px) {
  .main__landing {
    margin-top: 50px;
  }
}
.main__subtitle {
  margin-top: 38px;
  font-size: 40px;
  font-weight: 700;
}
@media (max-width: 376px) {
  .main__subtitle {
    font-size: 30px;
  }
}
.main__list {
  gap: 10px;
}
.main__list__item {
  display: flex;
  align-items: center;
  max-width: 419px;
  line-height: 150%;
}

@media (max-width: 376px) {
  .landing__block {
    padding: 0 0 0 37px;
    flex-wrap: wrap;
  }
}
.landing__block__title {
  text-align: left;
  font-size: 80px;
  font-weight: 700;
}
@media (max-width: 376px) {
  .landing__block__title {
    font-size: 40px;
  }
}
.landing__about {
  display: flex;
}
@media (max-width: 376px) {
  .landing__about {
    display: block;
  }
}

.nav__link {
  margin-left: 36px;
}
@media (max-width: 376px) {
  .nav__link {
    display: none;
  }
}
.nav__link:first-child {
  margin-left: 0;
}
.nav__link:hover {
  font-weight: 700;
}
.nav__burger {
  display: none;
}
@media (max-width: 376px) {
  .nav__burger {
    display: block;
    margin-right: 37px;
  }
}

.about__block {
  display: flex;
  flex-wrap: wrap;
  gap: 39px;
  width: 400px;
}
@media (max-width: 376px) {
  .about__block {
    width: 300px;
    margin-bottom: 45px;
  }
}
.about__text {
  max-width: 553px;
}
@media (max-width: 1030px) {
  .about__text {
    width: 340px;
  }
}
@media (max-width: 376px) {
  .about__text {
    width: 320px;
  }
}
.about__block .item__title {
  font-weight: 400;
  font-size: 50px;
}
@media (max-width: 376px) {
  .about__block .item__title {
    font-size: 40px;
  }
}

/***region числа перед списком***/
.first::before {
  content: "1";
}

.second::before {
  content: "2";
}

.third::before {
  content: "3";
}

.fourth::before {
  content: "4";
}

/*Думаю это можно было сделать с помощью ::marker{} */
.page__link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.program {
  background-color: #B59797;
  padding-bottom: 103px;
  height: 2300px;
}
@media (max-width: 376px) {
  .program {
    height: 3000px;
  }
}
.program__title {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 27px;
}
@media (max-width: 376px) {
  .program__title {
    font-size: 40px;
  }
}
.program-blocks {
  color: #fff;
  padding: 116px 148px 0 132px;
  padding-bottom: 160px;
}
@media (max-width: 376px) {
  .program-blocks {
    padding: 0 37px;
    padding-bottom: 80px;
    padding-top: 59px;
  }
}
.program-blocks__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.program-blocks__item__more {
  font-size: 30px;
}
.program__img {
  width: 644px;
  position: absolute;
  left: 0;
}
@media (max-width: 376px) {
  .program__img {
    width: calc(100% - 20px);
  }
}
.program__cost {
  margin-left: 37px;
  padding: 117px 0 80px 73px;
  background-color: #FBF6F6;
  height: 1200px;
}
@media (max-width: 376px) {
  .program__cost {
    margin-left: 17px;
    padding-left: 30px;
    height: 2200px;
  }
}
.program__cost__buy {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 96px;
}
.program__cost__blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  color: #fff;
  margin-bottom: 50px;
}
@media (max-width: 376px) {
  .program__cost__blocks {
    padding-right: 0;
  }
}
.program__cost__blocks__item {
  width: 560px;
  padding: 39px 32px;
  background-color: #B59797;
}
.program__cost__blocks__item ul {
  gap: 5px;
  margin-bottom: 13px;
}
.program__cost__blocks__item li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}
.program__cost__blocks__item li::before {
  content: "";
  height: 1px;
  width: 20px;
  background-color: #fff;
  display: block;
  align-self: center;
}
.program__cost__blocks__item__btn {
  padding: 17px 81px;
  background-color: #FBF5F5;
  border: 2px solid #8D6B5D;
  color: #504949;
  font-weight: 700;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: 55px;
  margin-top: 10px;
  margin-left: 250px;
}
@media (max-width: 376px) {
  .program__cost__blocks__item__btn {
    margin-left: 10px;
  }
}
.program__cost__blocks__item__title {
  font-size: 20px;
  font-weight: 700;
}

.course-result {
  float: right;
  margin-right: 120px;
}
@media (max-width: 376px) {
  .course-result {
    float: none;
    margin-right: 0;
  }
}
.course-result__title {
  line-height: 60px;
  margin-bottom: 20px;
}
.course-result__list {
  gap: 10px;
  margin-bottom: 40px;
}
.course-result__list__item {
  max-width: 600px;
}
.course-result__list__item:before {
  line-height: 150%;
}
@media (max-width: 376px) {
  .course-result__list__item:before {
    line-height: 50%;
  }
}
.course-other {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 560px;
  float: right;
  margin-right: 130px;
  margin-left: 17px;
  gap: 10px;
}
@media (max-width: 376px) {
  .course-other {
    margin-right: 0;
  }
}
.course-other__link {
  color: #3C2A2A;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  background-color: #FBF6F6;
  padding: 40px 31px;
  text-align: right;
  width: 560px;
}
@media (max-width: 376px) {
  .course-other__link {
    width: 100%;
    margin-right: 0;
  }
}
.course-other__link::after {
  content: url("./../img/arrow.svg");
}

.footer {
  color: #FBF6F6;
  background-color: #3C2A2A;
  padding: 143px 140px;
}
@media (max-width: 376px) {
  .footer {
    padding: 76px 41px;
  }
}
.footer__block {
  display: flex;
  gap: 17px;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 376px) {
  .footer__block {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
.footer__block__contacts {
  display: flex;
  gap: 17px;
}
.footer__link {
  font-weight: 400;
}

/*region стороны*/
.center {
  text-align: center;
}

.right {
  text-align: right;
}

/*endregion*/
.li__line-through {
  text-decoration: line-through;
}

.desctop {
  display: block;
}
@media (max-width: 376px) {
  .desctop {
    display: none;
  }
}

.desctop-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 376px) {
  .desctop-flex {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 376px) {
  .mobile {
    display: block;
    width: 100%;
  }
}